body {
  margin: 0px;
  padding: 0px;
  text-size-adjust: none;
}

* {
  font-family: "LuckiestGuy";
}

@font-face {
  font-family: "LuckiestGuy";
  src: url("assets/LuckiestGuy.ttf") format("truetype");
}

*:focus {
  outline: none;
}

#nickname-input {
  width: 250px;
  height: 60px;
  text-align: center;
  border: 3px solid black;
  /* font-family: LuckiestGuy; */
  font-size: 25px;
}

#first-login {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
  display: none;
}

#accept-nickname {
  margin-top: 50px;
  border: 0;
  width: 137px;
  height: 137px;
  background: url("assets/img/buttons/tick-button.png");
}

#creating-info {
  font-size: 30px;
}
