html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  text-size-adjust: none;
  height: 100%;
  background: linear-gradient(#e66465, #9198e5);
}

* {
  font-family: "LuckiestGuy";
}

@font-face {
  font-family: "LuckiestGuy";
  src: url("assets/LuckiestGuy.ttf") format("truetype");
}

*:focus {
  outline: none;
}

#nickname-input {
  width: 250px;
  height: 60px;
  text-align: center;
  border: 3px solid black;
  /* font-family: LuckiestGuy; */
  font-size: 25px;
  border-radius: 10px;
  transform: skewX(-5deg);
}

#first-login {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
  display: none;
}

#accept-nickname {
  margin-top: 50px;
  width: 100px;
  height: 60px;
  border: 3px solid black;
  transform: skewX(-10deg);
  background: limegreen;
  border-radius: 10px;
  font-size: 35px;
  color: white;
  -webkit-text-stroke: 2px black;
}

#creating-info {
  font-size: 30px;
}
